POSTGRES_DB=telemetry_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DB_URL=jdbc:postgresql://telemetry-db:5432/telemetry_db
DB_USER=postgres
DB_PASSWORD=postgres

TELEMETRY_API_KEY=local-dev-key-123

DATA_SOURCE_NAME=postgresql://postgres:postgres@telemetry-db:5432/telemetry_db?sslmode=disable

API_TARGET=telemetry-api:8080
EXPORTER_TARGET=telemetry-postgres-exporter:9187

PROMETHEUS_URL=http://telemetry-prometheus:9090
POSTGRES_HOST=telemetry-db
POSTGRES_PORT=5432
POSTGRES_DATABASE=telemetry_db
POSTGRES_SSLMODE=disable
